<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search Entries</title>
  </head>
  <body>
    <h1>Search All Entries</h1>
    <form method="POST" action="/search.html">
      <label for="developer">Developer:</label>
      <input type="text" id="developer" name="developer" /><br /><br />

      <label for="project">Project:</label>
      <input type="text" id="project" name="project" /><br /><br />

      <label for="date">Date (YYYY-MM-DD):</label>
      <input type="text" id="date" name="date" /><br /><br />

      <label for="log_contents">Log Contents:</label>
      <input type="text" id="log_contents" name="log_contents" /><br /><br />
      <input type="submit" value="Search" />
    </form>

    <h2>Results:</h2>
    <ul>
      {% for result in results %}
      <li>{{ result }}</li>
      {% else %}
      <li>No results found.</li>
      {% endfor %}
    </ul>
  </body>
</html>
